<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<main id="wp--skip-link--target">
    <!-- wp:child/banner {
        "title": "Where Your Story <em>Meets the Stillness</em>",
        "description": "Refined service and raw nature blend for your most meaningful moments.",
        "buttonText": "",
        "imageUrl": "/assets/images/banner/banner2.webp",
        "isInner": true
    } /-->

    <!-- wp:child/features-2 /-->
</main>

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->